
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 15px;       
}

header {
    background: rgba(204, 0, 0, 0.8);
    border-bottom: 3px solid rgba(204, 0, 0, 1);
}

header h1{ 
    margin: 0;
    color: white;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

section {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}


.division {
    text-align: center;
    width: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0px auto;
    margin-bottom: 1em;
    max-width: 500px;
}

.division__result {
    min-height: 20px;
}

.division__exercise:hover {
    cursor: pointer;
}


.correct {
    color: green;
}

.incorrect {
    color: red;
}